{% extends "layout.html" %}

{% block title %}
History
{% endblock %}

{% block main %}
<header>
    <div class="alert alert-primary mb-0 text-center" role="alert">
        Transaction History
    </div>
    <br>
</header>
<table class="table">
    <thead>
        <tr>
            <th class="text-start">Symbol</th>
            <th class="text-start">Name</th>
            <th class="text-end">Type</th>
            <th class="text-end">Shares</th>
            <th class="text-end">Price</th>
            <th class="text-end">Date/Time</th>
        </tr>
    </thead>
    <tbody>
        {% for item in transaction_info if item[3] != "N/A" %}
        <tr>
            <td class="text-start">{{item[3]}}</td><!-- "symbol"-->
            <td class="text-start">{{item[2]}}</td><!-- "name"-->
            <td class="text-end">{{item[1]}}</td><!-- "type"-->
            <td class="text-end">{{item[4]}}</td><!-- "shares"-->
            <td class="text-end">{{item[5]}}</td><!-- "price"-->
            <td class="text-end">{{item[6]}}</td><!-- "date_time"-->
        </tr>
        {% endfor %}
    </tbody>
    <tfoot>
    </tfoot>
</table>
{% endblock %}