{% extends "layout.html" %}

{% block title %}
Home
{% endblock %}

{% block main %}
<header>
    <div class="alert alert-primary mb-0 text-center" role="alert">
        Portfolio Details
    </div>
</header>
<table class="table">
    <thead>
        <tr>
            <th class="text-start">Symbol</th>
            <th class="text-start">Name</th>
            <th class="text-end">Shares Owned</th>
            <th class="text-end">Current Price</th>
            <th class="text-end">Current Value</th>
        </tr>
    </thead>
    <tbody>
        {% for stock in stock_info if stock["symbol"] != "N/A" %}
        <tr>
            {% if stock["shares_owned"] >= 1 %}
            <td class="text-start">{{ stock["symbol"] }}</td>
            <td class="text-start">{{ stock["name"] }}</td>
            <td class="text-end">{{ stock["shares_owned"] }}</td>
            <td class="text-end">{{ usd(lookup(stock["symbol"])["price"]) }}</td>
            <td class="text-end">{{ usd(stock["shares_owned"] * lookup(stock["symbol"])["price"]) }}</td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <td class="border-0 fw-bold text-end" colspan="2">Total</td>
            <td class="border-0 text-end">{{ shares }}</td>
            <td class="border-0 text-end"></td>
            {% set shares_val = 0 %}
            {% for stock in stock_info if stock["symbol"] != "N/A" %}
            {% set current_val = stock["shares_owned"] * lookup(stock["symbol"])["price"] %}
            {% set shares_val = shares_val + current_val %}
            {% endfor %}
            <td class="border-0 text-end">{{ usd(shares_val) }}</td>
        </tr>
        <tr>
            <td class="border-0 fw-bold text-end" colspan="4">Cash Remaining</td>
            <td class="border-0 text-end">{{ usd(current_cash) }}</td>
        </tr>
        <tr>
            <td class="border-0 fw-bold text-end" colspan="4">TOTAL</td>
            <td class="border-0 w-bold text-end">{{ usd(total) }} </td>
        </tr>
    </tfoot>
</table>
{% endblock %}